.container {
  width: 60px;
  height: 60px;
  border: 1px solid lightgray;
  border-radius: calc(60px / 2);
  -webkit-box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  transition: border 0.1s linear;
  cursor: pointer;
}
