.titleContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  .title {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 58px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 0 6px;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  .titleMobile {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 46px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 0 6px;
    @media screen and (min-width: 426px) {
      display: none;
    }
  }

  .subtitle {
    color: black;
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
